<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adrian Hurtado</title>
  <link href="static/style.css" rel="stylesheet"/>
  <link href="static/fafavicon.ico" rel="icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Source+Code+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>

<div class="top-container">
  <img class="top-cloud"src="static/CSS - My Site Images/cloud.png" alt="cloud-img"/>
  <h1>I'm Adrian</h1>
  <h2>I'm a <span class="pro">pro</span>grammer</h2>
  <img class="bottom-cloud" src="static/CSS - My Site Images/cloud.png" alt="cloud-img"/>
  <img src="static/CSS - My Site Images/mountain.png" alt="mountain-img"/>
</div>

<div class="middle-container">
  <div class="profile">
    <img src="static/CSS - My Site Images/angela.png" alt="angela-profile-image">
    <h2>Hello.</h2>
    <p>Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
  </div>
  <hr>

  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="skills-image" src="static/CSS - My Site Images/computer.png" alt="computer-image">
      <h3>Lorem & Ipsum</h3>
      <p class="skills-image-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
    </div>
    <div class="skill-row">
      <img class="chiles-image" src="static/CSS - My Site Images/chillies.png" alt="imagen de chiles">
      <h3>Lorem Ipsum Dolor</h3>
      <p class="chili-image-description">Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
    </div>
  </div>
  <hr>

  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>Lorem ipsum dolor sit amet, non elit.</h3>
    <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
    <a class="btn" href="mailto:job.adhf94@email.com">CONTACT ME</a>
  </div>
</div>


<div class="bottom-container">
  <a class="footer-link" href="www.linkedin.com/in/adrian-hurtado-899220140">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/AdriHurtaFlores">Twitter</a>
  <a class="footer-link" href="https://www.facebook.com/adrian.hurtadoflores">Facebook</a>
  <p class="copy-credits">© 2022 Adrian Hurtado.</p>
</div>

</body>
</html>